.btn--hello-world {
    align-items: center;
    background-color: transparent;
    box-shadow: 0 0 20px rgba(255, 255, 255, .5);
    border: 3px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    color: #ffffff;
    font-family: inherit;
    font-size: 1rem;
    left: 50%;
    transform: translateX(-50%);
    transition: .2s ease-in-out;
    padding: 15px 25px;
    position: relative;
}

@media only screen and (min-width: 768px) {
    .btn--hello-world {
        font-size: 1.5rem;
    }
}

.btn--hello-world:hover .world-icon > svg {
    transform: rotate(90deg) scale(1.3);
    transition: all .5s ease-in-out;
}

.btn--hello-world .world-icon {
    display: flex;
}

.btn--hello-world .world-icon > svg {
    margin-right: 5px;
    transition: all .5s ease-in-out;
    width: 25px;
}

@media only screen and (min-width: 768px) {
    .btn--hello-world .world-icon > svg {
        margin-right: 10px;
        width: 35px;
    }
}