@font-face {
    font-family: 'Nunito-Black';
    font-style: normal;
    font-weight: 400;
    src: url('../Nunito/Black/NunitoSans-Black.eot'); /* IE9 Compat Modes */
    src: local('Nunito Black'), 
         local('Nunito-Black'),
         url('./Nunito/Black/NunitoSans-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Nunito/Black/NunitoSans-Black.woff2') format('woff2'), /* Super Modern Browsers */
         url('./Nunito/Black/NunitoSans-Black.woff') format('woff'), /* Modern Browsers */
         url('./Nunito/Black/NunitoSans-Black.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./Nunito/Black/NunitoSans-Black.svg#Nunito') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Nunito-BlackItalic';
    font-style: normal;
    font-weight: 400;
    src: url('../Nunito/BlackItalic/NunitoSans-BlackItalic.eot'); /* IE9 Compat Modes */
    src: local('Nunito BlackItalic'), 
         local('Nunito-BlackItalic'),
         url('./Nunito/BlackItalic/NunitoSans-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Nunito/BlackItalic/NunitoSans-BlackItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./Nunito/BlackItalic/NunitoSans-BlackItalic.woff') format('woff'), /* Modern Browsers */
         url('./Nunito/BlackItalic/NunitoSans-BlackItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./Nunito/BlackItalic/NunitoSans-BlackItalic.svg#Nunito') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Nunito-Bold';
    font-style: normal;
    font-weight: 400;
    src: url('../Nunito/BlackItalic/NunitoSans-Bold.eot'); /* IE9 Compat Modes */
    src: local('Nunito Bold'), 
         local('Nunito-Bold'),
         url('./Nunito/Bold/NunitoSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Nunito/Bold/NunitoSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('./Nunito/Bold/NunitoSans-Bold.woff') format('woff'), /* Modern Browsers */
         url('./Nunito/Bold/NunitoSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./Nunito/Bold/NunitoSans-Bold.svg#Nunito') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Nunito-BoldItalic';
    font-style: normal;
    font-weight: 400;
    src: url('../Nunito/BoldItalic/NunitoSans-BoldItalic.eot'); /* IE9 Compat Modes */
    src: local('Nunito BoldItalic'), 
         local('Nunito-BoldItalic'),
         url('./Nunito/BoldItalic/NunitoSans-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Nunito/BoldItalic/NunitoSans-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./Nunito/BoldItalic/NunitoSans-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('./Nunito/BoldItalic/NunitoSans-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./Nunito/BoldItalic/NunitoSans-BoldItalic.svg#Nunito') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Nunito-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../Nunito/Regular/NunitoSans-Regular.eot'); /* IE9 Compat Modes */
    src: local('Nunito Regular'), 
         local('Nunito-Regular'),
         url('./Nunito/Regular/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Nunito/Regular/NunitoSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./Nunito/Regular/NunitoSans-Regular.woff') format('woff'), /* Modern Browsers */
         url('./Nunito/Regular/NunitoSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./Nunito/Regular/NunitoSans-Regular.svg#Nunito') format('svg'); /* Legacy iOS */
}